.div {
  display: flex;
  flex-direction: column;
}

.p {
  font-size: 5rem;
  font-style: italic;
  font-weight: 800;
  margin: 0;
}

.p span {
  color: hsl(259, 100%, 65%);
}

@media (max-width: 700px) {
  .p {
    font-size: 3rem;
  }
  
}
