.btn {
  width: 6rem;
  height: 6rem;
  background-color: hsl(259, 100%, 65%);

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

@media (max-width: 700px) {
  .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 4rem;
    height: 4rem;
  }

  .svg {
    width: 2rem;
  }
}
