.input {
  font-size: 2rem;
  padding: 1rem;
  width: 8rem;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.label {
  display: block;
  font-size: 1rem;
}

.error-msg {
  color: rgba(255, 0, 0, 0.5);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
}

.error {
  /* background-color: rgba(255, 0, 0, 0.5); */
  color: rgba(255, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .input {
    width: 80%;
    font-size: 1.6rem;
    padding: 0.5rem;
  }
}
